


<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-column-center-center-1000px">
  
        <!-- Tarjeta de presentación personal -->
        <mat-card>
            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-around" >
                    Angie Marcela Martinez Gomez
                </div>
            </mat-card-title>
            <mat-card-content>
                <!-- Foto de perfil -->
                <div fxLayout="row" fxLayoutAlign="space-around" >
                    <img mat-card-image class="imagen" src="images/foto_angie.jpeg">
                </div>
                <!-- Datos de contacto -->
                <p>E-mail: ammargom&#64;upv.edu.es</p>
                <p>Master Universitario en Ingenieria Geomatica y Geoinformacion</p>
                <p>Universitat Politècnica de València</p>
                <p>Camino de Vera, s/n, 46022 Valencia, Spain</p>
            </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
        
    </div>
  </div>
  


